<div class="p-comment__item">
　<p><%= link_to comment.user.name, comment.user %></p>
　<p><span><%= comment.title %></span></p>
  <p><%= simple_format(comment.comment) %></p>
  <% if current_user %>
    <% if current_user.id == comment.user.id || current_user.id == @shop.user.id || current_user.admin? %>
      <div class="p-comment__bottomLine">
        <span><%= link_to "削除", comment, method: :delete, data: {confirm: "削除してもよろしいですか？"} %></span>
      </div>
    <% end %>
  <% end %>
</div>