<h1>Editing Shop</h1>

<%= render 'form', shop: @shop %>
<% if current_user %>
  <% if current_user.admin? %>
    <%= link_to '削除', @shop, method: :delete, data: { confirm: 'この投稿を削除しますか?' } %>
  <% end %>
<% end %>
<%= link_to '詳細', @shop %> 
