<ul id="imagemap">
	<li id="hokkaido"><a href="hokkaido/hokkaido.html"><span>北海道</span></a></li>
	<li id="touhoku"><a href="tohoku/miyagi</l"><span>東北</span></a></li>
	<li id="hokuriku"><a href="hokuriku/nagano.html"><span>北陸</span></a></li>
	<li id="kanto"><a href="kanto/tokyo.html"><span>関東</span></a></li>
	<li id="tokai"><a href="toukai/shizuoka.html"><span>東海</span></a></li>
	<li id="kansai"><a href="kansai/osaka.html"><span>関西</span></a></li>
	<li id="chugoku"><a href="chugoku/hiroshima.html"><span>中国</span></a></li>
	<li id="shikoku"><a href="shikoku/kochi.html"><span>四国</span></a></li>
	<li id="kyushu"><a href="kyushu/fukuoka.html"><span>九州</span></a></li>
	<li id="okinawa"><a href="okinawa/okinawa.html"><span>沖縄</span></a></li>
</ul>