// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.p-comment__formBox {
  margin: 10px auto;
  border: 5px solid #e8e8e8;
  padding: 5px;
  border-radius: 14px;
  .btn{
    float: right;
  }
}

.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment__listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
  span{
    font-size: 15px;
    margin-left: 8px;
  }
}

.p-comment__list {
  margin: 10px 0;
  padding: 20px;
}

.p-comment__item {
  padding: 18px;
  border-bottom: 2px dotted #dfdfdf;
}

.p-comment__bottomLine {
  font-size: 15px;
  text-align: right;

  > span {
    font-size: 14px;
    margin: 0 12px;
  }
}


.balloon {
  position: relative;
  display: inline-block;
  margin: 15px 0 2em 25px;
  padding: 3px 13px;
  min-width: 20px;
  max-width: 300px;
  color: rgb(34, 31, 31);
  font-size: 16px;
  background-color: rgb(61, 226, 255);
  border-radius: 15px;
  word-break: break-all;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 25%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 26px solid rgb(61, 226, 255);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.info_name{
  padding-left: 7px;
}