// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 共通部分 */
#imagemap {
	margin: 0px auto;
	padding: 0px;
	background: url(/jp.png) top left no-repeat;
	width: 600px;
	height: 400px;
	position: relative;
}
#imagemap li {
	margin: 0px;
	padding: 0px;
	position: absolute;
	list-style: none;
	font-size: 14px;
}
#imagemap a {
	position: absolute;
}
#imagemap a span {
	display: none;
}
 
/* 北海道 */
#hokkaido {
	top: 0px;
	left: 333px;
}
#hokkaido a {
	width: 300px;
	height: 131px;
}
#hokkaido a:hover {
	background: url(jp.png) -333px -400px no-repeat;
}

//タイムライン
.timeline_box{
  .shop_index{
    width: 800px;
    display: grid;
    gap: 15px;
    margin: 0 auto;
  }
  @media(min-width: 700px){
    .shop_index{
      grid-template-columns: 300px 300px 300px;
    }
  }
  .shop_container{
    border: 1px solid #acabab;
    display:flex;
    background-color: rgb(228, 226, 227);
    width: 300px;
    height: 400px;
    padding: 10px;
    margin-bottom: 10px;
    &:hover{
      background: rgb(219, 217, 219);
    }
  }
  // .icon_container{
  //   display:inline-flex;
  // }
  .gravatar{
    border: 1px solid #a39b9b;
    border-radius: 40px;
    height: 40px;
    width: 40px; 
    &:hover{
      opacity: 0.7;
    }
  }
  .shop_text{
    // margin-left: 10px;
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    .shop_name{
      font-size: 30px;
    }
    .badge_container{
      height: 20px;
    }
    .users_info{
      display: inline-flex;
      margin-top: 15px;
      .shopper{
        margin:8px 0 0 7px;
      }
    }
  }
  .shop_image_container{
    margin-top: 8px;
    height: 250px;
    margin-left: 4px;
  }
  .shop_image{
    width: 270px;
    height: 250px;
    margin: 8px auto;
    border: 5px double #4d4848;
  }
}
.timeline_title{
  margin: 30px 0 ;
}

//トップページ
.top_page{
  background-image: url("/clothes.jpg");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  height: 100px;
  width: 100%;
  background-size: cover;
}

.page_title{
  font-size: 200px;
  font-family: 'Lobster', cursive;
  margin-top: 100px;
  height: 200px;
  color: rgb(238, 237, 237);
  text-shadow: 0 0 10px rgb(56, 47, 47),0 0 15px rgb(214, 187, 213);
}

.concept{
  font-style: italic;
  margin-left: 110px;
  color: rgb(238, 237, 237);
  text-shadow: 0 0 10px rgb(48, 42, 42),0 0 15px rgb(223, 184, 221);
}
.page_description{
  margin-top:40px;
  width: 700px;
  padding: 18px;
  border-radius: 20px;
  background-color: rgba(236, 204, 235, 0.7);
  font-size: 21px;
}

.btn_top{
  margin:40px;
  p{
    font-size: 23px;
  }
}
.new_group{
  margin-left: 10px;
  .btn{
    margin-left: 10px;
    border: 1px solid #0b7cc7;
    background-color: #5cd1e6;
    border-radius: 10px;
    &:hover{
      background-color: #4aa9e9;
    }
  }
}
.ex_g{
  margin-left:30px;
}
.experience{
  margin-left: 10px;
  .btn{
    margin-left: 40px;
    border: 1px solid #0b7cc7;
    background-color: #5cd1e6;
    border-radius: 10px;
    &:hover{
      background-color: #4aa9e9;
    }
  }
}
