// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa{
  text-decoration: none;
}
.like-btn{
  color: #8899a6;
}
.like-btn-unlike{
  color: #ff2581;
}
a{
  text-decoration:none;
  color: black;
  &:hover{
    color: black;
  }
}


// 一覧画面
.search_shop_form{
  border: 3px solid rgb(22, 151, 236);
  padding: 15px;
  margin: 30px auto;
  width: 720px;
  height:140px;
}

.shops{
  h1{
    text-align: center;
  }
  .shop_index{
    width: 800px;
    display: grid;
    gap: 15px;
    margin: 0 auto;
  }
  @media(min-width: 700px){
    .shop_index{
      grid-template-columns: 300px 300px 300px;
    }
   }
  .shop_container{
    border: 1px solid #acabab;
    display:flex;
    background-color: rgb(228, 226, 227);
    width: 300px;
    height: 400px;
    padding: 10px;
    margin-bottom: 10px;
    &:hover{
      background: rgb(219, 217, 219);
    }
  }
  // .icon_container{
  //   display:inline-flex;
  // }
  .gravatar{
    border: 1px solid #a39b9b;
    border-radius: 40px;
    height: 40px;
    width: 40px; 
    &:hover{
      opacity: 0.7;
    }
  }
  .shop_text{
    // margin-left: 10px;
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    .shop_name{
      font-size: 30px;
    }
    .badge_container{
      height: 20px;
    }
    .users_info{
      display: inline-flex;
      margin-top: 15px;
      .shopper{
        margin:8px 0 0 7px;
      }
    }
  }
  
  .shop_image_container{
    margin-top: 8px;
    height: 250px;
    margin-left: 4px;
  }
  .shop_image{
    width: 270px;
    height: 250px;
    margin: 8px auto;
    border: 5px double #4d4848;
  }
  
}

.pagination{
  margin-top: 30px;
}

//フォーム
.shop_form{
  .shop_btn{
    margin: 10px 0 10px 240px;
  }
  .map_get{
    margin: 20px 0;
    #input_map{
      height:300px;
      width: 43%;
      border: 2px solid #706d6d;
    }
    p{
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}


//詳細画面
.shop_introduction{
  margin: 30px 0 0 30px;
}
.shop_header{
  border: 3px solid #000000;
  background-color: #383535; 
  color: rgb(236, 230, 230);
  text-align: center;
}
.shop_detail{
  display: inline-flex;
  border: 3px solid rgb(89, 92, 107);
  padding:20px;
  .shop_image_container{
    margin-top: 8px;
    height: 250px;
    margin-left: 4px;
  }
  .shop_image{
    width: 270px;
    height: 250px;
    margin: 8px auto;
    border: 5px double #4d4848;
  }
  .shop_detail_text{
    padding:20px;
    .users_info{
      display: inline-flex;
      .shopper{
        font-size: 20px;
        margin: 8px;
      }
    }
  }
}
.description{
  border: 3px solid #6e6969;
  padding:10px;
  word-break: break-all;
}
.mapping{
  height: 350px;
  width: 400px;
  margin: 30px;
  border: 3px solid #585656;
}
.address{
  margin: 30px 0 0 50px;
  height: 8px;
}
.fa-map-marker-alt{
  margin:4px;
}
.edit_user{
  margin-left: 20px;
}
.like_btn{
  font-size: 20px;
  margin:13px 0 13px 20px;
}
