// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  text-decoration:none;
  color: black;
  &:hover{
    color: black;
  }
}

// 一覧画面
.gravatar{
  border: 2px double #9b7e99;
  border-radius: 40px;
  height: 50px;
  width: 50px; 
  &:hover{
    opacity: 0.7;
  }
}
.users{
  .users_header{
    margin-left:180px;
  }
  .user_index{
    width: 800px;
    display: grid;
    gap: 15px;
    margin: 0 auto;
  }
  @media(min-width: 1000px){
    .user_index{
      grid-template-columns: 300px 300px 300px;
    }
  }
  .user_container{
    border: 1px solid #acabab;
    display:flex;
    background-color: rgb(228, 226, 227);
    width:300px;
    height: 170px;
    padding: 10px;
    margin-bottom: 10px;
    &:hover{
      background: rgb(219, 217, 219);
    }
  }
  .icon_container{
    display:inline-block;
  }
  
  .user_text{
    margin-left: 5px;
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    .users_name{
      font-size:30px;
      margin-top: 2px
    }
  }
  
}
//詳細画面
.profile-header{
  padding-left: 10%;
}
.user_info{
  margin-bottom: 20px;
}
.profile{
  float: left;
  margin-right:10px; 
}
.user_name{
  margin: 10px;
  padding: 10px 
}
.introduction{
  width: 50%;
}
.post_box{
  margin-top:30px;
  .post_header{
    float: left;
    margin-right: 10px;
    padding-left: 10%;
  }
  p{
    padding-top: 5px;
  }
}
.like_box{
  margin-bottom: 20px;
  h4{
    margin:30px 0;
    padding-left:10%;
  }
}
.stats{
  margin-bottom: 10px
}
.following{
  color: rgb(3, 155, 129);
  font-weight: bold;
  &:hover{
    color: rgb(25, 153, 175);
  }
}
.follower{
  color: rgb(3, 155, 129);
  font-weight: bold;
  &:hover{
    color: rgb(25, 153, 175);
  }
  margin-left: 15px
}

//ユーザー登録
.user_btn{
  margin-left: 400px;
}
.form_info{
  color: #777575;
  font-size: 12px;
}


//投稿一覧
.post_box, .like_box{
  .shop_index{
    width: 800px;
    display: grid;
    gap: 15px;
    margin: 0 auto;
  }
  @media(min-width: 700px){
    .shop_index{
      grid-template-columns: 300px 300px 300px;
    }
   }
  .shop_container{
    border: 1px solid #acabab;
    display:flex;
    background-color: rgb(228, 226, 227);
    width: 300px;
    height: 400px;
    padding: 10px;
    margin-bottom: 10px;
    &:hover{
      background: rgb(219, 217, 219);
    }
  }
  // .icon_container{
  //   display:inline-flex;
  // }
  .gravatar{
    border: 1px solid #a39b9b;
    border-radius: 40px;
    height: 40px;
    width: 40px; 
    &:hover{
      opacity: 0.7;
    }
  }
  .shop_text{
    // margin-left: 10px;
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    .shop_name{
      font-size: 30px;
    }
    .badge_container{
      height: 20px;
    }
    .users_info{
      display: inline-flex;
      margin-top: 15px;
      .shopper{
        margin:8px 0 0 7px;
      }
    }
  }
  
  .shop_image_container{
    margin-top: 8px;
    height: 250px;
    margin-left: 4px;
  }
  .shop_image{
    width: 270px;
    height: 250px;
    margin: 8px auto;
    border: 5px double #4d4848;
  }
}

//フォロー画面
.host_user{
  width: 300px;
  word-wrap: break-word;
}
.user_avatars{
  margin-top: 20px;
}

.follow{
  .user_container{
    border: 1px solid #acabab;
    display:flex;
    background-color: rgb(228, 226, 227);
    width:400px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    &:hover{
      background: rgb(219, 217, 219);
    }
  }
  .icon_container{
    display:inline-block;
  }
  
  .user_text{
    margin-left: 5px;
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    .users_name{
      font-size:30px;
      margin-top: 2px
    }
  }
}